<tr>
  <td
    style="
      box-sizing: border-box;
      font-family: -apple-system, BlinkMacSystemFont,
        Roboto, 'Segoe UI', Helvetica, Arial,
        sans-serif, 'Apple Color Emoji',
        'Segoe UI Emoji', 'Segoe UI Symbol';
      position: relative;
      color: #74787e;
      font-size: 15px;
      line-height: 18px;
      margin: 0;
      padding: 10px 0;
    "
  >
    <strong
      style="
        box-sizing: border-box;
        font-family: -apple-system,
          BlinkMacSystemFont, Roboto, 'Segoe UI',
          Helvetica, Arial, sans-serif,
          'Apple Color Emoji', 'Segoe UI Emoji',
          'Segoe UI Symbol';
        position: relative;
      "
      >{{ rank }}</strong
    >
  </td>
  <td
    style="
      box-sizing: border-box;
      font-family: -apple-system, BlinkMacSystemFont,
        Roboto, 'Segoe UI', Helvetica, Arial,
        sans-serif, 'Apple Color Emoji',
        'Segoe UI Emoji', 'Segoe UI Symbol';
      position: relative;
      color: #74787e;
      font-size: 15px;
      line-height: 18px;
      margin: 0;
      padding: 10px 0;
    "
  >
    <strong
      style="
        box-sizing: border-box;
        font-family: -apple-system,
          BlinkMacSystemFont, Roboto, 'Segoe UI',
          Helvetica, Arial, sans-serif,
          'Apple Color Emoji', 'Segoe UI Emoji',
          'Segoe UI Symbol';
        position: relative;
      "
      >{{ username }}</strong
    >
  </td>
  <td
    style="
      box-sizing: border-box;
      font-family: -apple-system, BlinkMacSystemFont,
        Roboto, 'Segoe UI', Helvetica, Arial,
        sans-serif, 'Apple Color Emoji',
        'Segoe UI Emoji', 'Segoe UI Symbol';
      position: relative;
      color: #74787e;
      font-size: 15px;
      line-height: 18px;
      margin: 0;
      padding: 10px 0;
    "
  >
    <strong
      style="
        box-sizing: border-box;
        font-family: -apple-system,
          BlinkMacSystemFont, Roboto, 'Segoe UI',
          Helvetica, Arial, sans-serif,
          'Apple Color Emoji', 'Segoe UI Emoji',
          'Segoe UI Symbol';
        position: relative;
      "
      >{{ score }}</strong
    >
  </td>
</tr>